*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: hanson;
    src: url(./fonts/Hanson-Bold_28ef9370662e758bd08e61f45c3c69b8.otf);
}
body{
    background: #1B1934;
    max-width: 1440px;
    margin: auto;
}
#logo{
    width: 230px;
}
nav{
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    margin-right: 1rem;
}
a{
    text-decoration: none;
}
nav ul li{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 20px 5px 5px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: #2A2748;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: #fff;
    list-style: none;
}
#avatar{
    border-radius: 50%;
}
section{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
main, div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
}
p{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}
.confirm{
    width: 55%;
    margin: auto;
}
div p{
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.buttons{
   display: flex;
   flex-direction: row;
   font-size: 22px;
   font-family: work sans;
   gap: 30px;
}
button{
    height: 62px;
    width: 296px;
    border-radius: 30px;
    padding: 18px 40px;
    border: none;
}
#create{
    background: linear-gradient(180deg, #BB4343 3.16%, #4256BB 173.39%);
    color: #fff;
    font-size: 22px;
}
#home{
    border: 1px solid #BB4343;
    background-color: #1B1934;
    font-size: 22px;
    color: #BB4343;
}
